name: 'Delete old actions'

on:
  schedule:
    - cron: '0 0 1 * *' # At 12:00 AM, on day 1 of the month
  workflow_dispatch:

jobs:
  delete-old-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: yanovation/delete-old-actions@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          days-ago: 30
          keep-latest: 20

