name: 'Release PDF'
# Controls when the workflow will run
on:
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  call-latex-compiler:
    uses: ./.github/workflows/compile-latex.yml
  release:
    needs: call-latex-compiler
    runs-on: ubuntu-latest
    steps:
      - name: Download compiled PDF
        uses: actions/download-artifact@v4
        with:
          name: compiled-pdf
          path: ./artifact

      - name: Create or Update "latest" GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: Latest Release
          tag_name: latest
          files: ./artifact/paper.pdf
          make_latest: true
          body: |
            Latest pdf file.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
